
<style type="text/css">

.botonWidth{
	text-align: left;
	width: 210px;
}


</style>

<div class="jumbotron">
	<h2>
		Acerca de nosotros
	</h2>
	<p>
		BitWin es una plataforma de juegos de casino online. Lo que nos hace únicos es nuestra forma de recibir y premiar a los ganadores. Nuestra moneda corriente son Bit Coins. Para poder resgistrarte y jugar con nosotros neceistás una Bit Coin Wallet. Registrate gratis en:
		<a href="https://bitcoin.org/es/elige-tu-monedero">https://bitcoin.org/es/elige-tu-monedero</a>
	</p>
	<p>
		Para contactarte con nosotros seguinos en las siguientes redes sociales, o manda un mail a:
		<a href="consultas@bitwin.com">consultas@bitwin.com</a>
	</p>
	</p>
	<p>
		<button class="botonWidth btn btn-facebook"><i class="fa fa-facebook"></i>&nbsp;| Conectar con Facebook</button>
	</p>
	<p>
		<button class="botonWidth btn btn-twitter"><i class="fa fa-twitter"></i>&nbsp;| Conectar con Twitter</button>
	</p>
	<p>
		<button class="botonWidth btn btn-google-plus"><i class="fa fa-google-plus"></i>&nbsp;| Conectar con Google Plus</button>
	</p>

</div>