<div class="row clearfix" style="padding-left:10px;">
		<div class="col-md-12 column">
			<div class="row clearfix">
				<div class="col-md-9 column">
					<div class="jumbotron" style="border-radius: 10px">
						<h1>
							Compra de Fichas
						</h1>
						<p>
							Debido a las caracteristicas del Bitcoin nosotros no podemos procesar directamente el cobro sobre su wallet, por lo que para realizar la compra de fichas debera enviar bitcoins a nuestra clave publica:
						</p>
						<p>
							<span>14wPReHJZxae2kJfvsiZTNpKLx8ZTgFXBk</span>
						</p>
						<p>
							Luego de realizar el envio y en un plazo de no mas de 10 minutos se acreditará de forma automatica la cantidad de fichas en su cuenta correspondiente al monto en bicoins ingresado.
						</p>
						<p>
							1 Ficha = 0.001 Bitcoin
						</p>
						<p>
							Recuerde tener actualizada los datos de su cuenta (incluyendo su clave publica) para que la transaccion se realize de forma correcta.
						</p>
						<p>
							<a class="btn btn-primary btn-large" href="#">Mas informacion aceca de transacciones Bitcoin</a>
						</p>
						<p>
							<a class="coinbase-button" data-code="04867a8ad0d53527de8c45e14bc7aef5" data-button-style="custom_large" href="https://www.coinbase.com/checkouts/04867a8ad0d53527de8c45e14bc7aef5">Pay With Bitcoin</a>
							<script src="https://www.coinbase.com/assets/button.js" type="text/javascript"></script>
						</p>
					</div>
				</div>
				<div class="col-md-1 column">
				</div>			
			
			</div>
		</div>
	</div>
</div>
</body>