
<style type="text/css">
.imgPrincipal{
	width: 100%!important;
	height: 353px!important;
}

.imgJuegos{
	width: 300px;
	height: 180px!important;
}
.imgPublicidad{
	width: 100%!important; 
	height: 1000px!important;
	border-radius:5px;
}

.thumbnail{
	display: block;
	padding: 4px;
	margin-bottom: 20px;
	line-height: 1.428571429;
	background-color: white;
	border: 1px solid #dddddd;
	border-radius: 5px;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	width: 327px;
	height: 351px;
}

.jumbotron{
	border-radius: 5px;
}

</style>
<div class="body" style="margin: 15px 15px;">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
			  <!-- Indicators -->
			  <ol class="carousel-indicators">
			    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
			    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
			    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
			  </ol>

			  <!-- Wrapper for slides -->
			  <div class="carousel-inner" role="listbox">
			    <div class="item active">
			      <img class="imgPrincipal" src="images/ruletaPrincipal.jpg" alt="">
			      <div class="carousel-caption">
			       	...
			      </div>
			    </div>
			    <div class="item">
			      <img class="imgPrincipal" src="images/minita.jpg" alt="">
			      <div class="carousel-caption">
			        ...
			      </div>
			    </div>
			    <div class="item">
			      <img class="imgPrincipal" src="images/bolillero.jpg" alt="">
			      <div class="carousel-caption">
			        ...
			      </div>
			    </div>
			   
			  </div>

			  <!-- Controls -->
			  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
			    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			    <span class="sr-only">Previous</span>
			  </a>
			  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
			    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			    <span class="sr-only">Next</span>
			  </a>
			</div>
		</div>
	</div>

	<div class="row clearfix" style="margin-top: 20px">
		<div class="col-md-10 column">
			<div class="row clearfix " style='background: rgb(77, 71, 71); border-radius: 5px;'>
				<div class="col-md-12 column">
					<div class="row" style='padding-top:10px'>
						<div class="col-md-4">
							<div class="thumbnail">
								<img class="imgJuegos" alt="300x200" src="images/loteria.jpg" />
								<div class="caption">
									<h3>
										Loteria
									</h3>
									<p>
										Juegue diviertase y gané increibles premios!
									</p>
									<p>
										<a class="btn btn-primary" href="/lottery_selection">Jugar!</a>
									</p>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="thumbnail">
								<img  class="imgJuegos" alt="300x200" src="images/tragamonedas2.jpg" />
								<div class="caption">
									<h3>
										Sorteos
									</h3>
									<p>
										Juegue a los fabulosos sorteos, gane y disfrute!
									</p>
									<p>
										<a class="btn btn-primary" href="#">Jugar!</a>
									</p>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="thumbnail">
								<img class="imgJuegos" alt="300x200" src="images/bingo2.jpg" />
								<div class="caption">
									<h3>
										Bingo
									</h3>
									<p>
										Juegue ya al increible juego del bingo!
									</p>
									<p>
										<a class="btn btn-primary" href="#">Jugar!</a>
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="jumbotron">
						<h1>
							Bienvenido!
						</h1>
						<p>
							Bienvenido a Bitwin, el nuevo y unico sitio donde encontrarás la forma más facil y rápida de sacarle rédito a tus bitcoins.
						</p>
						<p>
							Contamos con un equipo de soporte disponible 24 horas al día, 7 días a la semana, depósitos seguros, reintegros rápidos y en conjunto con la potente y robusta red Bitcoins para que nuestros usuarios puedan divertirse en nuestro sitio, con la mayor seguridad y confianza.
						</p>
						<p>
							Lo invitamos a disfrutar de nuestras diferentes opciones en juegos como Loteria, Bingo, Sorteos entre otros, para mantenerte divertido en cualquier momento, en cualquier lugar y con las chances de que ganes muchos bitcoins.
							Bienvenido a un mundo de diversión marcado por una atractiva y actual oferta de entretenimientos.
						</p>
						<p>
							Con Bitwin, ganar Bitcoins ahora es más sencillo. Comienza a jugar ahora.
						</p>
						<p>
							<a class="btn btn-primary btn-large" href="#">mas informacion acerca de nosotros</a>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-2 column">
			<div id="carousel-Publicidad" class="carousel slide" data-ride="carousel">
  		<!-- Indicators -->
		  <ol class="carousel-indicators">
		    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
		    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
		    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
		  </ol>

		  <!-- Wrapper for slides -->
		  <div class="carousel-inner" role="listbox">
		    <div class="item active">
		      <img class="imgPublicidad" src="images/cocacola.jpg" alt="" >
		      <div class="carousel-caption">
		        ...
		      </div>
		    </div>
		    <div class="item">
		      <img class="imgPublicidad" src="images/nintendo.jpg" alt="" >
		      <div class="carousel-caption">
		        ...
		      </div>
		    </div>
		    <div class="item">
		      <img class="imgPublicidad" src="images/espn.jpg" alt="" >
		      <div class="carousel-caption">
		        ...
		      </div>
		    </div>	
		    <div class="item">
		      <img class="imgPublicidad" src="images/Bitstamp.jpg" alt="" >
		      <div class="carousel-caption">
		        ...
		      </div>
		    </div>			    
		  </div>		 
		</div>
		</div>
	</div>

	
	
</div>
